---
layout: page
title: Videos de apoyo
header: Posts By Tag
group: navigation
---
{% include JB/setup %}
<ul class="tag_box inline">
  {% assign tags_list = site.tags %}  
  {% include JB/tags_list %}
</ul>


{% for tag in site.tags %} 
  <h2 class="nice-title" id="{{ tag[0] }}-ref">{{ tag[0] }}</h2>
  <ul>
    {% assign pages_list = tag[1] %}  
    {% include JB/pages_list %}
  </ul>
{% endfor %}

Ley 97

<iframe width="560" height="315" src="https://www.youtube.com/embed/91eNufoCVLA?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

IMSS LEy 73 ¿Qué es una Proyección de Pensión?

<iframe width="560" height="315" src="https://www.youtube.com/embed/UIJIFgT-avE?rel=0&amp;controls=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>


Ley 73 Tu decides tú pensión IMSS ente $3,000 y $50,000

<iframe width="560" height="315" src="https://www.youtube.com/embed/IAcSHLeTr2Y?rel=0&amp;controls=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>


Ley 73 IMSS No tengo para modalidad 40 ¿de dónde la pago y cómo?

<iframe width="560" height="315" src="https://www.youtube.com/embed/dM7fyC0Yg2A?rel=0&amp;controls=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

¿Cómo afecta la UMA el monto de tu pensión en Modalidad 40? Ley 73 IMSS

<iframe width="560" height="315" src="https://www.youtube.com/embed/DWHYqq8f-Z8?rel=0&amp;controls=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

Diferencias entre Ley 73 y Ley 97

<iframe width="560" height="315" src="https://www.youtube.com/embed/4ZIi_7dGHtQ?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

No tengo para modalidad 40 IMSS Ley 73 ¿Cómo la pago?

<iframe width="560" height="315" src="https://www.youtube.com/embed/qV-ZWnb-H5c?rel=0&amp;controls=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

Portabilidad entre IMSS-ISSTE Ley 73, Ley 97, Décimo transitorio, Cuentas individuales.

<iframe width="560" height="315" src="https://www.youtube.com/embed/BZKUGVhoPp4?rel=0&amp;controls=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>






